
section#hero-section {
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .btn-hero {
      padding: 20px;
      font-family: "Nunito SemiBold", sans-serif;
      text-transform: uppercase;
    }

    .hero-image {
      display:none;
    }

    .decoration {
      display: none;
    }

    p.subheading {
      font-size: 16px;
    }

    h1.main {
      font-family: "Nunito SemiBold", sans-serif;
      font-size: 25px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -4px;
        left: 2px;
        width: 10%;
        background: $background-color;
        border-radius: 5px;
      }

      span {
        color: $after-color;
      }
    }
  }

  @include large {
    .container {
      flex-direction: row;
      justify-content: space-between;

      .hero-image {
        display:block;
      }

      p.subheading {
        width: 65%;
        font-size: 25px;
      }

      h1.main {
        font-size: 45px;

        &::after {
          width: 4%;
        }
      }
    }
  }
}

@include min-width(1600px) {
  #hero-section::after {
    background: $hero-after-image-url;
    display: block;
    content: '';
    width: 312px;
    height: 235px;
    position: absolute;
    top: 0;
    right: 35%;
  }
}

section#blog-posts {
  position: relative;

  h1 {
    font-family: "Nunito SemiBold", sans-serif;
    font-size: 25px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 5px;
      bottom: -6px;
      left: 2px;
      width: 2%;
      background: $background-color;
      border-radius: 5px;
    }
  }
}


// Blog categories
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.blog-category {
  margin: 0 8px;
  flex: 0 0 33%;
  text-align: center;
}

.category-title {
  margin: 10px auto;
}

.blog-category-background {
  background-image: $blog-category-image;
  width: 133px;
  height: 134px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.category-rounded {
  background-color: $background-color;
  width: 115px;
  height: 115px;
  display: flex;
  border-radius: 50%;
  align-items: center;
}

.category-image {
  margin: 0 auto;
}

.decoration {
  display: none;
}

@include medium()
{
  .blog-category {
    flex-direction: column;
    flex: 0 0 25%;
  }
}

@include large {
  #blog-posts {
    margin-top: 120px;
  }

  .blog-posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .blog-category {
    flex: 0;
    justify-content: center;
  }
}

@include min-width(1600px) {
  #blog-posts::after {
    background: $after-image-url;
    display: block;
    content: '';
    width: 353px;
    height: 240px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
