nav {
  margin-left: auto;
}

.mobile-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0 14px;
  overflow: auto;
  font-size: 16px;
  font-weight: 600;
  background-color: $background-color;
  color: $font-color;
  transition: width 0.6s linear, height 0s linear;

  &.open {
    width: calc(100vh - 60%);
    height: 100%;
    transition: width 0.6s, height 0s;
  }
}

.main-nav {
  width: 100%;
  display: flex;
  text-align: center;
}

ul {
  margin-left: auto;
  padding: 5px 0;
  list-style: none;
}

.menu-item {
  text-decoration: none;
  color: $font-color;
  margin: 10px 0;

  &:active {
    text-decoration: none;
    color: $font-color;
  }
}

.toggle {
  order: 2;
  color: $font-color;
  right: 0;
  top: 0;
}

.theme-mobile {
  order: 2;
  color: $font-color;
  margin-left: auto;
  right: 0;
  top: 0;
}

@include large {
  .lg-hidden {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu {
    position: static;
    display: block;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: normal;
    border-top: 0;
    overflow: hidden;
    background-color: transparent;
  }
  .theme {
    padding: 20px 30px;
    color: $font-color;
  }

  .menu-item {
    color: $font-color;
    padding: 10px 30px;

    &:hover {
      background-color: $background-color;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }

    &:active {
      background-color: $background-color;
      border-radius: 5px;
    }
  }

  .theme-mobile {
    display: none;
  }

  .toggle {
    display: none;
  }
}