
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $primary-color;
  font-family: "Nunito", sans-serif;
  color: $font-color;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
button {
  border: none;
  color: $font-color;
  background: none;

  &:focus {
    outline: none;
  }
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1522px;
  padding: 0 30px;
}

.btn {
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  color: var(--font-color);
  background: none;
  outline:none;

  &:focus {
    outline:none;
  }

  &:hover {
    background-color: $background-color;
  }
}

.lift {
  &:hover {
    transform: translateY(-0.25em);
    transition: 0.25s;
  }
}

.btn-dark {
  background-color: $background-color;
  color: $button-font-color;
}

.btn-primary {
  color: $font-color;
}

.ml-15 {
  margin-left: 15px;
}

.mt-40 {
  margin-top: 40px;
}