:root {
  --primary-color: #FFFFF;
  --font-color: #2E3440;
  --background-color: #4C566A;
  --button-font-color: #FFFFFF;
  --after-color: #5E81AC;
  --decoration-fill-color: #3b4252;
  --after-image-url: url('/resources/images/decoration-third-light.svg');
  --hero-after-image-url: url('/resources/images/decoration-light.svg');
  --blog-category-background: url("/resources/images/blog-category-background-light.svg");
}

[data-theme="dark"] {
  --primary-color: #2E3440;
  --font-color: #ECEFF4;
  --background-color: #4C566A;
  --heading-color: #ECEFF4;
  --button-font-color: #FFFFFF;
  --after-color: #5E81AC;
  --decoration-fill-color: #D8DEE9;
  --after-image-url: url('/resources/images/decoration-third.svg');
  --hero-after-image-url: url('/resources/images/decoration.svg');
  --blog-category-background: url("/resources/images/blog-category-background.svg");
}


$primary-color: var(--primary-color);
$font-color: var(--font-color);
$background-color: var(--background-color);
$button-font-color: var(--button-font-color);
$after-color: var(--after-color);
$decoration-fill-color: var(--decoration-fill-color);
$after-image-url: var(--after-image-url);
$hero-after-image-url: var(--hero-after-image-url);
$blog-category-image: var(--blog-category-background);


// Breakpoints for media queries
$break-small: 320px;
$break-large: 1200px;