// Dark theme variables
$background-color-dark: #2E3440;
$white-color: #ECEFF4;
$btn-dark-color: #4C566A;
$accent-color: #5E81AC;
$category-background: #3B4252;

// Breakpoints for media queries
$break-small: 320px;
$break-large: 1200px;